body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
}

canvas {
    background: #111;
    display: block;
    border: 2px solid #fff;
}
